@import "tailwindcss";

.border-primary{
  color: #AB3AE0;
}
.bg-primary{
  background-color: #AB3AE0;
}
.bg-primary:hover {
  background-color: #9228c7; /* slightly darker purple */
  transition: background-color 0.5s ease;
}